// SECTION :: START

section#features.features

  .features__bg

  .c-grid
    .features__wrapper

      .features__content
        .features__logo
          img(src="img/logo-blockquote.svg" alt="")

        p.features__label.c-label BODY PROCEDURES
        h2.features__title.c-title TUMMY TUCK
        p.features__desc.c-desc Dr. Jaiswal’s precise surgical and artistic techniques for breast augmentation in Las Vegas, NV, will make you feel more confident, sexy, and attractive. You may have dreamt of having fuller breasts or have uneven breasts you want to resolve - and your dream can come true.

        .features__link-wrapper
          .features__link
            a(href="#") LEARN MORE
            hr
          .features__link
            a(href="#") OTHER BODY PROCEDURES
            hr

    nav.features__nav
      a.c-title(href="#") BODY LIFT
      a.c-title(href="#") LIPOSUCTION
      a.c-title(href="#") FAT GRAFTING

// SECTION :: END
