// SECTION :: START

section#features.features

  .features__bg

  .c-grid
    .features__wrapper

      .features__content
        .features__logo
          img(src="img/logo-blockquote.svg" alt="")

        p.features__label.c-label.wow.animate__animated.animate__fadeInUp BODY PROCEDURES
        h2.features__title.c-title.wow.animate__animated.animate__fadeInUp TUMMY TUCK
        p.features__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Jaiswal’s precise surgical and artistic techniques for breast augmentation in Las Vegas, NV, will make you feel more confident, sexy, and attractive. You may have dreamt of having fuller breasts or have uneven breasts you want to resolve - and your dream can come true.

        .features__link-wrapper.wow.animate__animated.animate__fadeInUp
          .features__link
            a(href="#") LEARN MORE
            hr
          .features__link
            a(href="#") OTHER BODY PROCEDURES
            hr

    nav.features__nav.wow.animate__animated.animate__fadeInUp
      a.c-title(href="#") BODY LIFT
      a.c-title(href="#") LIPOSUCTION
      a.c-title(href="#") FAT GRAFTING

// SECTION :: END
