// SECTION :: START

section#home.home
  .c-grid
    .home__wrapper

      p.home__label.c-label OUR PRACTICE
      h2.home__title.c-title!= "SPREADING HAPPINESS BY <br>MAKING YOU FEEL YOUR BEST"
      p.home__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.

      .home__link
        a(href="#") MEET OUR PRACTICE
        hr

      .home__box-wrapper
        div
          .home__box
            img(src="img/img-home-1.jpg" alt="")
        div
          .home__box
            img(src="img/img-home-2.jpg" alt="")
        div
          .home__box
            img(src="img/img-home-3.jpg" alt="")

// SECTION :: END
