// COMMON :: START

.galleryPage,
.resourcesPage,
.contactPage {
	background-image: url('../img/img-pattern-gallerypage.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.homePage,
.mePage,
.aboutPage,
.faceProceduresPage,
.breastProceduresPage {
	background-image: url('../img/img-pattern-mepage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	& + .homePage {
		padding-top: 150px;
		@include adaptive(1023) {
			padding-top: 100px;
		}
		@include adaptive(767) {
			padding-top: 70px;
		}

		.facelift {
			margin-bottom: 150px;
			@include adaptive(1439) {
				margin-bottom: 100px;
			}
			@include adaptive(767) {
				margin-bottom: 0;
			}
		}
	}
}

.resourcesPage {
	padding-bottom: 200px;
	@include adaptive(1365) {
		padding-bottom: 100px;
	}
	@include adaptive(767) {
		padding-bottom: 70px;
	}
}

.contactPage {
	padding-bottom: 50px;
	@include adaptive(1279) {
		padding-bottom: 0;
	}
}

// COMMON :: END
