// COMMON :: START

.galleryPage,
.resourcesPage,
.contactPage {
	background-image: url('../img/img-pattern-gallerypage.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.mePage,
.aboutPage,
.faceProceduresPage,
.breastProceduresPage {
	background-image: url('../img/img-pattern-mepage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.resourcesPage {
	padding-bottom: 200px;
}

.contactPage {
	padding-bottom: 50px;
}

// COMMON :: END
