// SECTION :: START

.contact {
	padding-top: 135px;

	&__title {
		padding-bottom: 40px;
		font-size: 60px;
		line-height: 60px;
		text-align: center;
	}

	&__desc {
		width: 100%;
		max-width: 930px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 130px;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1364px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 100px;

		&-group {
			display: flex;
			align-items: center;
			justify-content: space-between;

			> div {
				width: 100%;
				max-width: calc((100% - 16px) / 2);
			}
		}

		&-field {
			position: relative;
			padding-bottom: 25px;

			&--btn {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 35px;
			}

			label {
				display: flex;
				width: 100%;
			}

			input,
			select,
			textarea {
				outline: none;
				position: relative;
				display: flex;
				width: 100%;
				height: 75px;
				padding: 0 30px;
				border: 2px solid #c39d48;
				box-shadow: none;
				border-radius: 0;
				background-color: #fff;
				font-weight: bold;
				font-size: 21px;
				color: #000;
				@include inputPlaceholder {
					font-weight: bold;
					font-size: 21px;
					color: #adadad;
				}
			}

			textarea {
				height: 250px;
				padding: 30px;
			}

			button {
				outline: none;
				position: relative;
				display: flex;
				flex-direction: column;
				width: auto;
				height: auto;
				padding: 0;
				margin: 0;
				border: none;
				box-shadow: none;
				border-radius: 0;
				background-color: transparent;

				span {
					padding-bottom: 20px;
					font-weight: 900;
					font-size: 18px;
					letter-spacing: 0.02em;
					color: #000;
				}

				i {
					width: 99px;
					height: 2px;
					background-color: #c39d48;
				}
			}
		}
	}

	&__img {
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		transform: translateY(-50%);
		width: 100%;
		max-width: 1088px;
		min-height: 261px;
		margin-left: auto;
		margin-right: auto;
		padding: 45px 60px;
		border: 10px solid #fff;
		background-color: #000000;

		&-title {
			padding-bottom: 30px;
			line-height: 60px;
			font-size: 60px;
		}

		&-header {
			display: flex;
			justify-content: space-between;
		}

		&-desc {
			font-size: 20px;
			line-height: 30px;
			color: #fff;
		}

		&-link {
			display: flex;
			padding-bottom: 20px;
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 0.02em;
			line-height: 38px;
			color: #fff;
		}

		&-line {
			width: 99px;
			height: 2px;
			background-color: #c39d48;
		}
	}
}

// SECTION :: END
