// SECTION :: START

.bodys {
	position: relative;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url('../img/img-pattern-gallerypage.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 150px;
		left: 0;
		display: flex;
		width: 100%;
		height: calc(100% - 300px);

		> div {
			position: relative;
			width: 100%;
			max-width: 60%;

			img {
				@extend %imageResCoverAbs;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		padding-top: 93px;
		padding-bottom: 93px;

		&-left {
			width: 60%;
			margin-left: auto;
		}

		&-left {
			position: relative;
			padding: 210px 50px 210px 90px;
			background-color: #000000;
			background-image: url('../img/img-black-pattern.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__label {
		color: #ffffff;
		text-align: left;
	}

	&__title {
		padding-bottom: 30px;
		//font-size: 60px;
		@include fluid(font-size, 320px, 1800px, 35px, 60px);
		@include fluid(line-height, 320px, 1800px, 45px, 70px);
	}

	&__desc {
		width: 100%;
		max-width: 600px;
		color: #ffffff;
	}

	&__logo {
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		width: 106px;
	}
}

// SECTION :: END
