// SECTION :: START

section#resources.resources
  .c-grid
    .resources__wrapper.resources__wrapper-1

      h2.resources__title.c-title.wow.animate__animated.animate__fadeInUp PATIENT RESOURCES
      p.resources__desc.c-desc.wow.animate__animated.animate__fadeInUp We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

      .resources__box-wrapper
        div.wow.animate__animated.animate__fadeInUp
          a.resources__box(href="#")
            p.c-title NEW USER
            span DOWNLOAD FORM
            hr
        div.wow.animate__animated.animate__fadeInUp
          a.resources__box(href="#")
            p.c-title AFTERCARE
            span LEARN MORE
            hr
        div.wow.animate__animated.animate__fadeInUp
          a.resources__box(href="#")
            p.c-title OUT OF TOWN PATIENTS
            span LEARN MORE
            hr
        div.wow.animate__animated.animate__fadeInUp
          a.resources__box(href="#")
            p.c-title IMPLANT REMOVAL
            span DOWNLOAD FORM
            hr
        div.wow.animate__animated.animate__fadeInUp
          a.resources__box(href="#")
            p.c-title FINANCING
            span LEARN MORE
            hr

    .resources__wrapper.resources__wrapper-2

      h2.resources__title.c-title.wow.animate__animated.animate__fadeInUp Leave us a review!
      p.resources__desc.c-desc.wow.animate__animated.animate__fadeInUp We hope you’ve had an outstanding journey of transformation with us. Now, we would appreciate your feedback. Please click on your preferred review site below to share your #JaiswalExperience with the world.

      .resources__social-wrapper
        div.wow.animate__animated.animate__fadeInUp
          a.resources__social(href="#")
            i.icon-font.icon-facebook
            p.c-title FACEBOOK
        div.wow.animate__animated.animate__fadeInUp
          a.resources__social(href="#")
            i.icon-font.icon-google
            p.c-title GOOGLE
        div.wow.animate__animated.animate__fadeInUp
          a.resources__social(href="#")
            i.icon-font.icon-realself
            p.c-title REALSELF
        div.wow.animate__animated.animate__fadeInUp
          a.resources__social(href="#")
            i.icon-font.icon-yelp
            p.c-title YELP

// SECTION :: END
