@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.main__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 25, src/scss/_utilities/_extend.scss */
.c-title, .main__title {
  font-family: 'worthington-arcade', serif;
  font-weight: 400;
  font-style: normal;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.35s;
       -o-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 1;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 35px;
  height: 18px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 2px;
  background-color: #c39d48;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -8px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before, .icon-google:before, .icon-instagram:before, .icon-quote:before, .icon-realself:before, .icon-yelp:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-google:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-quote:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-realself:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-yelp:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1670px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.galleryPage,
.resourcesPage,
.contactPage {
  background-image: url("../img/img-pattern-gallerypage.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 12, src/scss/_shared/_common.scss */
.mePage {
  background-image: url("../img/img-pattern-mepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 19, src/scss/_shared/_common.scss */
.resourcesPage {
  padding-bottom: 200px;
}

/* line 23, src/scss/_shared/_common.scss */
.contactPage {
  padding-bottom: 50px;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 9, src/scss/_macros/_logotype.scss */
.logo.logo--header .logo__btn img {
  max-width: 65px;
}

/* line 17, src/scss/_macros/_logotype.scss */
.logo.logo--footer .logo__btn img {
  max-width: 187px;
}

/* line 23, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 27, src/scss/_macros/_logotype.scss */
.logo__btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #c39d48;
}

/* line 3, src/scss/_macros/_label.scss */
.c-label {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

/* line 3, src/scss/_macros/desc.scss */
.c-desc {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 38px;
  color: #000;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

/* line 12, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 16, src/scss/_macros/_btn.scss */
.c-btn__wrapper--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 12, src/scss/_components/common/_header.scss */
.header.header--logo .header__wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 19, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 55px;
}

/* line 26, src/scss/_components/common/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 32, src/scss/_components/common/_header.scss */
.header__address {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fff;
}

/* line 39, src/scss/_components/common/_header.scss */
.header__request {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fff;
}

/* line 3, src/scss/_components/common/_footer.scss */
.footer {
  position: relative;
}

/* line 7, src/scss/_components/common/_footer.scss */
.footer__container-1 {
  padding-top: 148px;
  padding-bottom: 148px;
  background-color: #000000;
}

/* line 13, src/scss/_components/common/_footer.scss */
.footer__container-2 {
  background-image: url("../img/img-pattern-footer.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 22, src/scss/_components/common/_footer.scss */
.footer__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 30, src/scss/_components/common/_footer.scss */
.footer__wrapper-1 .footer__wrapper-right {
  opacity: 0;
}

/* line 36, src/scss/_components/common/_footer.scss */
.footer__wrapper-2 {
  padding-top: 55px;
  padding-bottom: 55px;
}

/* line 42, src/scss/_components/common/_footer.scss */
.footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 48, src/scss/_components/common/_footer.scss */
.footer__copyright {
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

/* line 58, src/scss/_components/common/_footer.scss */
.footer__made {
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

/* line 67, src/scss/_components/common/_footer.scss */
.footer__made strong {
  font-weight: 900;
}

/* line 72, src/scss/_components/common/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 77, src/scss/_components/common/_footer.scss */
.footer__nav a,
.footer__nav span {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000;
}

/* line 86, src/scss/_components/common/_footer.scss */
.footer__nav span {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 93, src/scss/_components/common/_footer.scss */
.footer__title {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
}

/* line 102, src/scss/_components/common/_footer.scss */
.footer__address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 110px;
}

/* line 107, src/scss/_components/common/_footer.scss */
.footer__address p,
.footer__address a {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
}

/* line 116, src/scss/_components/common/_footer.scss */
.footer__address a {
  padding-top: 15px;
}

/* line 121, src/scss/_components/common/_footer.scss */
.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 125, src/scss/_components/common/_footer.scss */
.footer__social a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 129, src/scss/_components/common/_footer.scss */
.footer__social a:not(:last-child) {
  margin-right: 30px;
}

/* line 133, src/scss/_components/common/_footer.scss */
.footer__social a .icon-font {
  color: #ffffff;
  font-size: 25px;
}

/* line 3, src/scss/_components/common/main.scss */
.main {
  position: relative;
}

/* line 6, src/scss/_components/common/main.scss */
.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 17, src/scss/_components/common/main.scss */
.main__bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 28, src/scss/_components/common/main.scss */
.main__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 40, src/scss/_components/common/main.scss */
.main__content {
  width: 100%;
}

/* line 44, src/scss/_components/common/main.scss */
.main__title {
  padding-bottom: 15px;
  font-size: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #c39d48;
}

/* line 53, src/scss/_components/common/main.scss */
.main__breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 58, src/scss/_components/common/main.scss */
.main__breadcrumbs a,
.main__breadcrumbs p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

/* line 68, src/scss/_components/common/main.scss */
.main__breadcrumbs a {
  color: #ffffff;
}

/* line 71, src/scss/_components/common/main.scss */
.main__breadcrumbs a:nth-of-type(2n) {
  pointer-events: none;
}

/* line 76, src/scss/_components/common/main.scss */
.main__breadcrumbs p {
  color: #c39d48;
}

/* line 3, src/scss/_components/common/schedule.scss */
.schedule {
  position: relative;
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url("../img/img-schedule-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 12, src/scss/_components/common/schedule.scss */
.schedule:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 22, src/scss/_components/common/schedule.scss */
.schedule__title {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 70px;
}

/* line 3, src/scss/_components/common/practice.scss */
.practice {
  padding-top: 130px;
  padding-bottom: 165px;
  background-image: url("../img/img-pattern-practice.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 15, src/scss/_components/common/practice.scss */
.practice__title {
  padding-bottom: 60px;
  text-align: center;
  font-size: 60px;
}

/* line 21, src/scss/_components/common/practice.scss */
.practice__desc {
  padding-bottom: 70px;
  width: 100%;
  max-width: 724px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 30, src/scss/_components/common/practice.scss */
.practice__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

/* line 36, src/scss/_components/common/practice.scss */
.practice__link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 40, src/scss/_components/common/practice.scss */
.practice__link-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
}

/* line 3, src/scss/_components/common/our.scss */
.our {
  position: relative;
  padding-top: 150px;
  padding-bottom: 75px;
}

/* line 8, src/scss/_components/common/our.scss */
.our__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding-top: 150px;
}

/* line 20, src/scss/_components/common/our.scss */
.our__bg img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 5px solid #fff;
  -webkit-filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
}

/* line 30, src/scss/_components/common/our.scss */
.our__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 35, src/scss/_components/common/our.scss */
.our__wrapper-left, .our__wrapper-right {
  width: 50%;
}

/* line 41, src/scss/_components/common/our.scss */
.our__label {
  text-align: left;
}

/* line 45, src/scss/_components/common/our.scss */
.our__title {
  padding-bottom: 60px;
  font-size: 60px;
  line-height: 72px;
}

/* line 51, src/scss/_components/common/our.scss */
.our__desc {
  width: 100%;
  max-width: 687px;
}

/* line 55, src/scss/_components/common/our.scss */
.our__desc:last-of-type {
  padding-bottom: 100px;
}

/* line 59, src/scss/_components/common/our.scss */
.our__desc + .our__desc {
  padding-top: 50px;
}

/* line 64, src/scss/_components/common/our.scss */
.our__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 68, src/scss/_components/common/our.scss */
.our__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 72, src/scss/_components/common/our.scss */
.our__box-wrapper > div {
  padding-right: 28px;
}

/* line 77, src/scss/_components/common/our.scss */
.our__box img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 5px solid #fff;
  -webkit-filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
}

/* line 3, src/scss/_components/common/blockquote.scss */
.blockquote {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* line 7, src/scss/_components/common/blockquote.scss */
.blockquote__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

/* line 13, src/scss/_components/common/blockquote.scss */
.blockquote__logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 22, src/scss/_components/common/blockquote.scss */
.blockquote__title {
  position: relative;
  width: 100%;
  max-width: 1364px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

/* line 30, src/scss/_components/common/blockquote.scss */
.blockquote__title h2 {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

/* line 37, src/scss/_components/common/blockquote.scss */
.blockquote__title .icon-font {
  position: absolute;
  top: -10px;
  color: rgba(195, 157, 72, 0.25);
  font-size: 74px;
}

/* line 43, src/scss/_components/common/blockquote.scss */
.blockquote__title .icon-font:first-of-type {
  left: 0;
}

/* line 46, src/scss/_components/common/blockquote.scss */
.blockquote__title .icon-font:last-of-type {
  right: 0;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

/* line 53, src/scss/_components/common/blockquote.scss */
.blockquote__subtitle {
  text-align: center;
  font-size: 20px;
}

/* line 3, src/scss/_components/common/video.scss */
.video {
  padding-top: 125px;
  padding-bottom: 75px;
}

/* line 7, src/scss/_components/common/video.scss */
.video__label {
  text-align: left;
}

/* line 11, src/scss/_components/common/video.scss */
.video__title {
  padding-bottom: 40px;
  font-size: 90px;
  line-height: 90px;
}

/* line 17, src/scss/_components/common/video.scss */
.video__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 21, src/scss/_components/common/video.scss */
.video__link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
}

/* line 30, src/scss/_components/common/video.scss */
.video__link hr {
  width: 99px;
  height: 2px;
  padding: 0;
  margin: 0;
  background-color: #bd9e56;
}

/* line 39, src/scss/_components/common/video.scss */
.video__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 43, src/scss/_components/common/video.scss */
.video__box-wrapper {
  position: relative;
  left: -16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: -webkit-calc(100% + 16px);
  width: calc(100% + 16px);
}

/* line 50, src/scss/_components/common/video.scss */
.video__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  padding-left: 16px;
  padding-bottom: 16px;
}

/* line 58, src/scss/_components/common/video.scss */
.video__box img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 3, src/scss/_components/common/media.scss */
.media {
  padding-top: 75px;
  padding-bottom: 140px;
}

/* line 7, src/scss/_components/common/media.scss */
.media__label {
  text-align: left;
}

/* line 11, src/scss/_components/common/media.scss */
.media__title {
  padding-bottom: 40px;
  font-size: 90px;
  line-height: 90px;
}

/* line 17, src/scss/_components/common/media.scss */
.media__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 21, src/scss/_components/common/media.scss */
.media__link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
}

/* line 30, src/scss/_components/common/media.scss */
.media__link hr {
  width: 99px;
  height: 2px;
  padding: 0;
  margin: 0;
  background-color: #bd9e56;
}

/* line 39, src/scss/_components/common/media.scss */
.media__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 43, src/scss/_components/common/media.scss */
.media__box-wrapper {
  position: relative;
  left: -16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: -webkit-calc(100% + 16px);
  width: calc(100% + 16px);
  padding-bottom: 95px;
}

/* line 51, src/scss/_components/common/media.scss */
.media__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 6);
  max-width: calc(100% / 6);
  padding-left: 16px;
  padding-bottom: 16px;
}

/* line 57, src/scss/_components/common/media.scss */
.media__box-wrapper > div:nth-of-type(1) {
  padding-top: 100px;
}

/* line 60, src/scss/_components/common/media.scss */
.media__box-wrapper > div:nth-of-type(2) {
  padding-top: 50px;
}

/* line 63, src/scss/_components/common/media.scss */
.media__box-wrapper > div:nth-of-type(4) {
  padding-top: 50px;
}

/* line 66, src/scss/_components/common/media.scss */
.media__box-wrapper > div:nth-of-type(5) {
  padding-top: 100px;
}

/* line 69, src/scss/_components/common/media.scss */
.media__box-wrapper > div:nth-of-type(6) {
  padding-top: 50px;
}

/* line 75, src/scss/_components/common/media.scss */
.media__box img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 5px solid #fff;
  -webkit-filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
}

/* line 3, src/scss/_components/me/me.scss */
.me {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* line 7, src/scss/_components/me/me.scss */
.me__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 11, src/scss/_components/me/me.scss */
.me__wrapper-1 {
  padding-bottom: 150px;
}

/* line 15, src/scss/_components/me/me.scss */
.me__wrapper-1 .me__wrapper-left, .me__wrapper-1 .me__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-top: 20px;
}

/* line 23, src/scss/_components/me/me.scss */
.me__wrapper-1 .me__wrapper-middle {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 575px;
}

/* line 30, src/scss/_components/me/me.scss */
.me__wrapper-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 34, src/scss/_components/me/me.scss */
.me__wrapper-middle {
  padding-left: 85px;
  padding-right: 85px;
}

/* line 41, src/scss/_components/me/me.scss */
.me__logo img {
  display: block;
  width: 123px;
  height: auto;
}

/* line 49, src/scss/_components/me/me.scss */
.me__desc:not(:last-of-type) {
  padding-bottom: 50px;
}

/* line 55, src/scss/_components/me/me.scss */
.me__media img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 5px solid #fff;
  -webkit-filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
}

/* line 3, src/scss/_components/gallery/imagine.scss */
.imagine {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* line 7, src/scss/_components/gallery/imagine.scss */
.imagine__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

/* line 17, src/scss/_components/gallery/imagine.scss */
.imagine__wrapper-left img, .imagine__wrapper-right img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border: 5px solid #fff;
  -webkit-filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
}

/* line 27, src/scss/_components/gallery/imagine.scss */
.imagine__wrapper-middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 36, src/scss/_components/gallery/imagine.scss */
.imagine__title {
  padding-bottom: 60px;
  text-align: center;
  font-size: 80px;
}

/* line 42, src/scss/_components/gallery/imagine.scss */
.imagine__desc {
  width: 100%;
  max-width: 812px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 4, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__wrapper {
  padding-bottom: 200px;
}

/* line 8, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 55px;
}

/* line 14, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__label {
  text-align: left;
}

/* line 18, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__title {
  font-size: 90px;
  line-height: 90px;
}

/* line 25, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__slider .swiper-slide {
  position: relative;
  width: 535px !important;
}

/* line 29, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__slider .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 36, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__slider .swiper-slide p {
  z-index: 5;
  position: absolute;
  left: 57px;
  bottom: 57px;
  font-size: 40px;
}

/* line 44, src/scss/_components/gallery/beforeAfter.scss */
.beforeAfter__slider .swiper-slide:after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 3, src/scss/_components/resources/resources.scss */
.resources {
  padding-top: 165px;
  padding-bottom: 155px;
}

/* line 8, src/scss/_components/resources/resources.scss */
.resources__wrapper-1 {
  padding-bottom: 120px;
}

/* line 15, src/scss/_components/resources/resources.scss */
.resources__title {
  padding-bottom: 60px;
  text-align: center;
  font-size: 60px;
}

/* line 21, src/scss/_components/resources/resources.scss */
.resources__desc {
  width: 100%;
  max-width: 675px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 30, src/scss/_components/resources/resources.scss */
.resources__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding: 50px 40px;
  background-color: #000;
}

/* line 37, src/scss/_components/resources/resources.scss */
.resources__box-wrapper {
  position: relative;
  left: -16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: -webkit-calc(100% + 16px);
  width: calc(100% + 16px);
}

/* line 44, src/scss/_components/resources/resources.scss */
.resources__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  padding-left: 16px;
  padding-bottom: 16px;
}

/* line 52, src/scss/_components/resources/resources.scss */
.resources__box p {
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 30px;
}

/* line 58, src/scss/_components/resources/resources.scss */
.resources__box span {
  display: block;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 38px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

/* line 70, src/scss/_components/resources/resources.scss */
.resources__box hr {
  width: 99px;
  height: 2px;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #c39d48;
}

/* line 81, src/scss/_components/resources/resources.scss */
.resources__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 230px;
  padding: 30px 30px 20px;
  background-color: #000000;
}

/* line 91, src/scss/_components/resources/resources.scss */
.resources__social-wrapper {
  position: relative;
  left: -16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: -webkit-calc(100% + 16px);
  width: calc(100% + 16px);
}

/* line 98, src/scss/_components/resources/resources.scss */
.resources__social-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
  padding-left: 16px;
  padding-bottom: 16px;
}

/* line 106, src/scss/_components/resources/resources.scss */
.resources__social .icon-font {
  height: 50px;
  margin-bottom: 35px;
  font-size: 50px;
  color: #c39d48;
}

/* line 112, src/scss/_components/resources/resources.scss */
.resources__social .icon-font.icon-realself {
  font-size: 38px;
}

/* line 115, src/scss/_components/resources/resources.scss */
.resources__social .icon-font.icon-google {
  font-size: 48px;
}

/* line 120, src/scss/_components/resources/resources.scss */
.resources__social p {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

/* line 3, src/scss/_components/contact/contact.scss */
.contact {
  padding-top: 135px;
}

/* line 6, src/scss/_components/contact/contact.scss */
.contact__title {
  padding-bottom: 40px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

/* line 13, src/scss/_components/contact/contact.scss */
.contact__desc {
  width: 100%;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 130px;
  text-align: center;
}

/* line 22, src/scss/_components/contact/contact.scss */
.contact__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1364px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

/* line 31, src/scss/_components/contact/contact.scss */
.contact__form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 36, src/scss/_components/contact/contact.scss */
.contact__form-group > div {
  width: 100%;
  max-width: -webkit-calc((100% - 16px) / 2);
  max-width: calc((100% - 16px) / 2);
}

/* line 42, src/scss/_components/contact/contact.scss */
.contact__form-field {
  position: relative;
  padding-bottom: 25px;
}

/* line 46, src/scss/_components/contact/contact.scss */
.contact__form-field--btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
}

/* line 53, src/scss/_components/contact/contact.scss */
.contact__form-field label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* line 58, src/scss/_components/contact/contact.scss */
.contact__form-field input,
.contact__form-field select,
.contact__form-field textarea {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  padding: 0 30px;
  border: 2px solid #c39d48;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #fff;
  font-weight: bold;
  font-size: 21px;
  color: #000;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.contact__form-field input.placeholder,
.contact__form-field select.placeholder,
.contact__form-field textarea.placeholder {
  font-weight: bold;
  font-size: 21px;
  color: #adadad;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.contact__form-field input:-moz-placeholder,
.contact__form-field select:-moz-placeholder,
.contact__form-field textarea:-moz-placeholder {
  font-weight: bold;
  font-size: 21px;
  color: #adadad;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.contact__form-field input::-moz-placeholder,
.contact__form-field select::-moz-placeholder,
.contact__form-field textarea::-moz-placeholder {
  font-weight: bold;
  font-size: 21px;
  color: #adadad;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.contact__form-field input:-ms-input-placeholder,
.contact__form-field select:-ms-input-placeholder,
.contact__form-field textarea:-ms-input-placeholder {
  font-weight: bold;
  font-size: 21px;
  color: #adadad;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.contact__form-field input::-webkit-input-placeholder,
.contact__form-field select::-webkit-input-placeholder,
.contact__form-field textarea::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 21px;
  color: #adadad;
}

/* line 81, src/scss/_components/contact/contact.scss */
.contact__form-field textarea {
  height: 250px;
  padding: 30px;
}

/* line 86, src/scss/_components/contact/contact.scss */
.contact__form-field button {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
}

/* line 100, src/scss/_components/contact/contact.scss */
.contact__form-field button span {
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
}

/* line 108, src/scss/_components/contact/contact.scss */
.contact__form-field button i {
  width: 99px;
  height: 2px;
  background-color: #c39d48;
}

/* line 118, src/scss/_components/contact/contact.scss */
.contact__img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 127, src/scss/_components/contact/contact.scss */
.contact__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  max-width: 1088px;
  min-height: 261px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 60px;
  border: 10px solid #fff;
  background-color: #000000;
}

/* line 140, src/scss/_components/contact/contact.scss */
.contact__block-title {
  padding-bottom: 30px;
  line-height: 60px;
  font-size: 60px;
}

/* line 146, src/scss/_components/contact/contact.scss */
.contact__block-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 151, src/scss/_components/contact/contact.scss */
.contact__block-desc {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

/* line 157, src/scss/_components/contact/contact.scss */
.contact__block-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 38px;
  color: #fff;
}

/* line 167, src/scss/_components/contact/contact.scss */
.contact__block-line {
  width: 99px;
  height: 2px;
  background-color: #c39d48;
}

/*# sourceMappingURL=maps/app.css.map */
