// SECTION :: START

section#imagine.imagine

  .imagine__wrapper
    .imagine__wrapper-left
      
      img.wow.animate__animated.animate__fadeInUp(src="img/img-imagine-1.jpg" srcset="img/img-imagine-1@2x.jpg 2x" alt="")
      
    .imagine__wrapper-middle

      h2.imagine__title.c-title.wow.animate__animated.animate__fadeInUp!= "Create the body <br>you imagine."
      p.imagine__desc.c-desc.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum sed nunc a ultrices. Mauris porttitor diam quis risus porta, vel viverra enim accumsan. Maecenas dignissim enim eget ante lobortis ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In fermentum tempor mauris ut elementum. Sed at arcu in libero ullamcorper malesuada nec vel augue. Cras dapibus urna suscipit elit facilisis lacinia. Integer at ipsum varius, dictum sem nec, tempor arcu.

    .imagine__wrapper-right

      img.wow.animate__animated.animate__fadeInUp(src="img/img-imagine-2.jpg" srcset="img/img-imagine-2@2x.jpg 2x" alt="")

// SECTION :: END
