// SECTION :: START

.features {
	position: relative;
	padding-top: 220px;
	margin-bottom: 150px;
	@include adaptive(1439) {
		padding-top: 150px;
		margin-bottom: 100px;
	}
	@include adaptive(7767) {
		padding-top: 70px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/img-features.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include adaptive(767) {
			background-position: 0 center;
		}

		&:after {
			content: '';
			opacity: 0.7;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 830px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(7677) {
			padding-top: 70px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 75px;
			width: 100%;
			height: calc(100% - 75px);
			background-color: #000000;
			background-image: url('../img/img-black-pattern.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@include adaptive(767) {
				opacity: 0.55;
				top: 0;
				height: 100%;
			}
		}
	}

	&__content {
		z-index: 5;
		position: relative;
		@include adaptive(767) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__logo {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 35px;
		@include adaptive(767) {
			padding-bottom: 35px;
		}

		img {
			display: block;
			width: 106px;
			height: auto;
			@include adaptive(7677) {
				width: auto;
				height: 70px;
			}
		}
	}

	&__label {
		color: #ffffff;
	}

	&__title {
		padding-bottom: 50px;
		text-align: center;
		//font-size: 90px;
		//line-height: 90px;
		@include fluid(font-size, 320px, 1800px, 45px, 90px);
		@include fluid(line-height, 320px, 1800px, 45px, 90px);
		@include adaptive(767) {
			padding-bottom: 35px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 555px;
		padding-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: #ffffff;
		@include adaptive(767) {
			padding-bottom: 35px;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		@include adaptive(767) {
			flex: 1;
			min-width: 1px;
			max-width: 100%;

			&:last-of-type {
				align-items: flex-end;
				text-align: right;
			}
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 555px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 150px;
			@include adaptive(1439) {
				padding-bottom: 100px;
			}
			@include adaptive(767) {
				align-items: flex-end;
				justify-content: space-between;
				padding-bottom: 70px;
			}
		}

		&:hover {
			a {
				color: #c39d48;
				@include transition(color);
			}

			hr {
				width: 120px;
				@include transition(width);
			}
		}

		a {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 0.02em;
			line-height: 38px;
			color: #fff;
			@include transition(color);
			@include adaptive(1023) {
				font-size: 14px;
				line-height: 30px;
			}
			@include adaptive(767) {
				margin-bottom: 10px;
				line-height: 30px;
			}
		}

		hr {
			width: 99px;
			height: 2px;
			margin: 0;
			padding: 0;
			border: none;
			background-color: #bd9e56;
			@include transition(width);
			@include adaptive(767) {
				width: 55px;
			}
		}
	}

	&__nav {
		z-index: 10;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 180px;
		@include adaptive(1279) {
			height: 150px;
		}
		@include adaptive(767) {
			position: relative;
			flex-direction: column;
			width: 100%;
			height: auto;
			margin-top: 55px;
			padding-bottom: 55px;
		}

		a {
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 60px;
			margin-right: 60px;
			font-size: 30px;
			line-height: 30px;
			@include adaptive(1279) {
				font-size: 26px;
				line-height: normal;
			}
			@include adaptive(1023) {
				font-size: 22px;
				margin-left: 30px;
				margin-right: 30px;
			}
			@include adaptive(767) {
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 20px;
			}

			&:hover {
				&:after {
					width: 120px;
					@include transition(width);
				}
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 0;
				height: 2px;
				background-color: #bd9e56;
				@include transition(width);
			}
		}
	}
}

// SECTION :: END
