---
title: DrJaiswal | About

pageClassName: p-about

headerLogo: true
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('about', 'img-about-main-bg.jpg', 'ABOUT ATELIER', ['HOME', '|', 'ABOUT'])

    section.aboutPage
      include components/common/our
      include components/common/about
      include components/common/testimonials
      include components/common/video
      include components/common/media

    include components/common/schedule
    include components/common/practice
