---
title: DrJaiswal | Body Procedures

pageClassName: p-body-procedures

headerLogo: true
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('body-procedures', 'img-body-procedures-main-bg.jpg', 'BODY PROCEDURES', ['HOME', '|', 'PROCEDURES', '|', 'BODY'])

    include components/procedures/bodys

    include components/common/facelift

    section.breastProceduresPage
      include components/common/lift
      include components/common/gallery
      include components/common/testimonials

    include components/common/schedule
    include components/common/practice
