---
title: DrJaiswal | Body Procedures

pageClassName: p-body-procedures
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('me', 'img-me-main-bg.jpg', 'DR. ROHIT JAISWAL, MD', ['HOME', '|', 'ABOUT', '|', 'DR. JAISWAL'])

    section.mePage
      include components/common/testimonials

    include components/common/schedule
    include components/common/practice
