---
title: DrJaiswal | Breast Procedures

pageClassName: p-breast-procedures

headerLogo: true
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('breast-procedures', 'img-breast-procedures-main-bg.jpg', 'BREAST PROCEDURES', ['HOME', '|', 'PROCEDURES', '|', 'BREAST'])

    include components/procedures/breast

    include components/common/facelift

    section.breastProceduresPage
      include components/common/lift
      include components/common/gallery
      include components/common/testimonials

    include components/common/schedule
    include components/common/practice
