---
title: DrJaiswal | Gallery

pageClassName: p-gallery

headerLogo: true
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('gallery', 'img-home-main-bg.jpg', 'GALLERY', ['HOME', '|', 'GALLERY'])

    section.galleryPage
      include components/gallery/imagine
      include components/gallery/beforeAfter


    include components/common/schedule
    include components/common/practice
