---
title: DrJaiswal

pageClassName: p-home

headerLogo: false
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    +mainSection('home', 'img-home-main-bg.jpg')

    include components/common/schedule
    include components/common/practice
