// FOOTER :: START

footer#footer.footer

  .footer__container.footer__container-1
    .c-grid
      .footer__wrapper.footer__wrapper-1
        .footer__wrapper-left

          h2.footer__title LAS VEGAS, NV

          .footer__address
            p 2565 E. Flamingo Road,
            p Las Vegas, NV 89121

            a(href="#") 999.999.9999

          .footer__social
            a(href="#")
              i.icon-font.icon-facebook
            a(href="#")
              i.icon-font.icon-instagram

        .footer__wrapper-middle

          .logo.logo--footer
            a.logo__btn(href="#")
              img(src="img/logo.svg" alt="")

        .footer__wrapper-right

          h2.footer__title LAS VEGAS, NV

          .footer__address
            p 2565 E. Flamingo Road,
            p Las Vegas, NV 89121

            a(href="#") 999.999.9999

          .footer__social
            a(href="#")
              i.icon-font.icon-facebook
            a(href="#")
              i.icon-font.icon-instagram

  .footer__container.footer__container-2
    .c-grid
      .footer__wrapper.footer__wrapper-2

        ul.footer__info
          li
            p.footer__copyright © ATELIER PLASTIC SURGERY. ALL RIGHTS RESERVED.
          li
            p.footer__made!= "Website Design & SEO by <strong>MRKTMADE</strong>"
          li
            nav.footer__nav
              a(href="#") Privacy Policy
              span |
              a(href="#") TOS
              span |
              a(href="#") Sitemap

// FOOTER :: END
