// HEADER :: START

header#header.header(class!= (headerLogo)? 'header--logo':'')
  .c-grid
    .header__wrapper
      .header__wrapper-left

        p.header__address LAS VEGAS, NV | 999.999.9999

      .header__wrapper-middle

        if(headerLogo)
          .logo.logo--header
            a.logo__btn(href="#") 
              img(src="img/logo.svg" alt="")

      .header__wrapper-right
        
        a.header__request(href="#") REQUEST A CONSULTATION

        +hamburger()

// HEADER :: END
