// SECTION :: START

section#about.about

  .c-grid
    .about__wrapper
      .about__wrapper-left

        p.about__label.c-label.wow.animate__animated.animate__fadeInUp MEET YOUR PLASTIC SURGEON
        h2.about__title.c-title.wow.animate__animated.animate__fadeInUp DR. ROHIT JAISWAL, MD
        p.about__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Jaiswal is a Plastic Surgeon who is board certified by the American Board of Plastic Surgery- the only board certification available to plastic surgeons in the USA. He is also a member of the American Society of Plastic Surgeons (ASPS) as well as The American Society of Aesthetic Plastic Surgery (ASAPS).

        .about__link.wow.animate__animated.animate__fadeInUp
          a(href="#") MEET THE SURGEON
          hr

      .about__wrapper-right

  .about__bg
    .about__bg-media
      img(src="img/img-about.jpg" alt="")


// SECTION :: END
