// SECTION :: START

section#blockquote.blockquote
  .c-grid
    .blockquote__wrapper
      
      .blockquote__logo.wow.animate__animated.animate__fadeInUp
        img(src="img/logo-blockquote.svg" alt="")

      .blockquote__title.wow.animate__animated.animate__fadeInUp
        h2.c-title!= "It has been my pleasure getting you started on the journey to becoming the best version of yourself. <br>With a grateful heart,"
        i.icon-font.icon-quote
        i.icon-font.icon-quote

      p.blockquote__subtitle.c-title.wow.animate__animated.animate__fadeInUp – DR. JAISWAL

// SECTION :: END
