// SECTION :: START

section#facelift.facelift

  .facelift__bg
    img.facelift__bg-img(src="img/img-facelift-bg.jpg" alt="")
    div
      img.facelift__bg-logo(src="img/logo-blockquote.svg" alt="")
    div

  .c-grid
    .facelift__wrapper
      .facelift__wrapper-left

        p.facelift__label.c-label FACE PROCEDURES
        h2.facelift__title.c-title FACELIFT
        p.facelift__desc.c-desc If you feel your face has lost its fresh, youthful appeal, it may be time to consider a facelift. This custom surgery is the gold standard for facial rejuvenation and achieving a refreshed, vibrant appearance. Modern, advanced facelift techniques produce refreshed, natural-looking results that can last for 10 to 15 years.

        .facelift__link
          a(href="#") LEARN MORE
          hr

      .facelift__wrapper-right

// SECTION :: END
