// SECTION :: START

section#gallery.gallery

  .gallery__bg

    .gallery__bg-media
      if(pageClassName === 'p-home')
        img(src="img/img-gallery-bg-2.jpg" alt="")
      else if(pageClassName === 'p-face-procedures')
        img(src="img/img-gallery-bg-1.jpg" alt="")
      else if(pageClassName === 'p-breast-procedures')
        img(src="img/img-gallery-bg-2.jpg" alt="")
      else
        img(src="img/img-gallery-bg-3.jpg" alt="")

      .gallery__bg-content
        div
        div
          h2.gallery__title.c-title GALLERY
          .gallery__link
            a(href="#") VIEW BEFORE & AFTER PHOTOS
            hr

    .gallery__media-wrapper
      .gallery__media
        if(pageClassName === 'p-home')
          img(src="img/img-gallery-1.jpg" alt="")
          img(src="img/img-gallery-2.jpg" alt="")
        else if(pageClassName === 'p-face-procedures')
          img(src="img/img-gallery-1.jpg" alt="")
          img(src="img/img-gallery-2.jpg" alt="")
        else if(pageClassName === 'p-breast-procedures')
          img(src="img/img-gallery-2-1.jpg" alt="")
          img(src="img/img-gallery-2-2.jpg" alt="")
        else
          img(src="img/img-gallery-3-1.jpg" alt="")
          img(src="img/img-gallery-3-2.jpg" alt="")

  .c-grid
    .gallery__wrapper
      .gallery__wrapper-left

        p.gallery__subtitle.c-title Results speak for themselves.

      .gallery__wrapper-right

// SECTION :: END
