// SECTION :: START

section#lift.lift
  .c-grid
    .lift__wrapper

      .lift__box-wrapper
        div
          a.lift__box(href="#")
            p.lift__box-title.c-title Lip LIFT
            .lift__box-link
              p LEARN MORE
              hr
        div
          a.lift__box(href="#")
            p.lift__box-title.c-title RHINOPLASTY
            .lift__box-link
              p LEARN MORE
              hr
        div
          a.lift__box(href="#")
            p.lift__box-title.c-title EYE LIFT
            .lift__box-link
              p LEARN MORE
              hr
        div
          a.lift__box(href="#")
            p.lift__box-title.c-title BROW LIFT
            .lift__box-link
              p LEARN MORE
              hr
        div
          a.lift__box(href="#")
            p.lift__box-title.c-title NECKLIFT
            .lift__box-link
              p LEARN MORE
              hr
        div
          a.lift__box(href="#")
            p.lift__box-title.c-title OTOPLASTY
            .lift__box-link
              p LEARN MORE
              hr

// SECTION :: END
