// SECTION :: START

section#media.media
  .c-grid
    .media__wrapper

      p.media__label.c-label.wow.animate__animated.animate__fadeInUp PUBLICATIONS & MORE
      h2.media__title.c-title.wow.animate__animated.animate__fadeInUp MEDIA

      .media__box-wrapper
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-1.jpg" alt="")
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-2.jpg" alt="")
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-3.jpg" alt="")
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-4.jpg" alt="")
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-5.jpg" alt="")
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-6.jpg" alt="")

      .media__link.wow.animate__animated.animate__fadeInUp
        a(href="#") READ MORE PUBLICATIONS
        hr

// SECTION :: END
