// SECTION :: START

section#our.our

  .c-grid
    .our__wrapper
      .our__wrapper-left

        if(pageClassName !== 'p-about')
          p.our__label.c-label OUR PRACTICE
          h2.our__title.c-title SPREADING HAPPINESS BY MAKING YOU FEEL YOUR BEST
          p.our__desc.c-desc Dr. Jaiswal is a Plastic Surgeon who is board certified by the American Board of Plastic Surgery- the only board certification available to plastic surgeons in the USA. He is also a member of the American Society of Plastic Surgeons (ASPS) as well as The American Society of Aesthetic Plastic Surgery (ASAPS).
          p.our__desc.c-desc He attended the University of California, Berkeley as an undergraduate before getting his Medical Degree at The Ohio State University College of Medicine. In addition he has a supplemental degree as a Master of Public Health. Dr. Jaiswal graduated medical school cum laude- “with honors”- making him one of the top students in his medical school class.
        else
          p.our__label.c-label OUR PRACTICE
          h2.our__title.c-title SPREADING HAPPINESS BY MAKING YOU FEEL YOUR BEST
          p.our__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          p.our__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.

        if(pageClassName !== 'p-about')
          .our__box-wrapper
            div
              a.our__box(href="#")
                img(src="img/img-our-box-1.jpg" alt="")
            div
              a.our__box(href="#")
                img(src="img/img-our-box-2.jpg" alt="")
            div
              a.our__box(href="#")
                img(src="img/img-our-box-3.jpg" alt="")

      .our__wrapper-right

  .our__bg
    if(pageClassName !== 'p-about')
      img(src="img/img-our.jpg" alt="")
    else
      img(src="img/img-our-about.jpg" alt="")

// SECTION :: END
