// SECTION :: START

section#video.video
  .c-grid
    .video__wrapper

      p.video__label.c-label Appearances & MORE
      h2.video__title.c-title VIDEOS

      .video__box-wrapper
        div
          a.video__box(href="#")
            img(src="img/img-video-1.jpg" alt="")
        div
          a.video__box(href="#")
            img(src="img/img-video-2.jpg" alt="")
        div
          a.video__box(href="#")
            img(src="img/img-video-3.jpg" alt="")

      .video__link
        a(href="#") VIEW MORE VIDEOS
        hr

// SECTION :: END
