// SECTION :: START

section#me.me
  .c-grid
    .me__wrapper.me__wrapper-1
      .me__wrapper-left

        p.me__desc.c-desc Following medical school, he was accepted into the most competitive residency specialty in the world- plastic and reconstructive surgery. He did six years of intensive training at the University of California, Davis Medical Center in Sacramento, California. There, he trained under world-renowned plastic surgeons in aesthetics, trauma/reconstruction, pediatric/craniofacial, and hand surgery. Following this he did an additional year of even more advanced training at the University of Nevada, Las Vegas.
        p.me__desc.c-desc Dr. Jaiswal passed a rigorous written as well as oral examination over the course of two years in order to become Board Certified by the American Board of Plastic Surgery. This certification is given only to surgeons who have completed a full residency program, have had their surgical results evaluated and examined, and passed two extensive examinations conducted by nationwide leaders in plastic surgery.

      .me__wrapper-middle

        .me__media
          img(src="img/img-me-1.jpg" alt="")

      .me__wrapper-right

        p.me__desc.c-desc He currently holds licenses to practice medicine in the states of Nevada and Arizona. Dr. Jaiswal has also given talks at highly regarded national and international plastic surgery societies in San Francisco, Los Angeles, Boston, San Diego, and the Bahamas.
        p.me__desc.c-desc Finally, Dr. Jaiswal has been awarded as a RealSelf Hall of Fame member in addition to being named a Top Doctor. His practice in Las Vegas has won a 2020 Gold Medal for Best Cosmetic Surgery.
        p.me__desc.c-desc Rest assured you are in safe, competent, and experienced hands at Atelier Plastic Surgery!

    .me__wrapper.me__wrapper-2
      .me__wrapper-left

        .me__media
          img(src="img/img-me-2.jpg" alt="")

      .me__wrapper-middle
        
        .me__logo
          img(src="img/logo-blockquote.svg" alt="")
        
      .me__wrapper-right

        .me__media
          img(src="img/img-me-3.jpg" alt="")

// SECTION :: END
