// SECTION :: START

.beforeAfter {
	&__wrapper {
		padding-bottom: 200px;
		@include adaptive(1535) {
			padding-bottom: 150px;
		}
		@include adaptive(767) {
			padding-bottom: 70px;
		}
	}

	&__heading {
		display: flex;
		flex-direction: column;
		padding-bottom: 55px;
		@include adaptive(767) {
			padding-bottom: 35px;
		}
	}

	&__label {
		text-align: left;
	}

	&__title {
		//font-size: 90px;
		//line-height: 90px;
		@include fluid(font-size, 320px, 1800px, 45px, 90px);
		@include fluid(line-height, 320px, 1800px, 45px, 90px);
	}

	&__slider {
		.swiper {
			&-slide {
				position: relative;
				width: 535px !important;
				@include adaptive(1535) {
					width: 500px !important;
				}
				@include adaptive(1365) {
					width: 400px !important;
				}
				@include adaptive(1023) {
					width: 300px !important;
				}
				@include adaptive(767) {
					width: 250px !important;
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
					max-height: 100%;
				}

				p {
					z-index: 5;
					position: absolute;
					left: 57px;
					bottom: 57px;
					//font-size: 40px;
					@include fluid(font-size, 320px, 1800px, 25px, 40px);
					@include fluid(line-height, 320px, 1800px, 35px, 50px);
					@include adaptive(1023) {
						left: 15px;
						bottom: 15px;
					}
				}

				&:after {
					content: '';
					z-index: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.5);
				}
			}
		}
	}
}

// SECTION :: END
