// TITLE :: START

.c-label {
	padding-bottom: 10px;
	font-weight: 900;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	@include adaptive(767) {
		font-size: 12px;
	}
}

// TITLE :: END
