// LOGOTYPE :: START

.logo {
	display: flex;
	align-items: center;

	&.logo--menu {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		.logo {
			&__btn {
				img {
					max-width: 65px;
				}
			}
		}
	}

	&.logo--header {
		height: 100%;

		.logo {
			&__btn {
				display: flex;
				align-items: center;
				height: 100%;

				img {
					max-width: 65px;
				}
			}
		}
	}

	&.logo--footer {
		.logo__btn {
			img {
				max-width: 187px;
				@include adaptive(1439) {
					max-width: 130px;
				}
			}
		}
	}

	&__btn {
		display: flex;
		align-items: flex-start;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}
}

// LOGOTYPE :: END
