// FOOTER :: START

.footer {
	position: relative;

	&__container {
		&-1 {
			padding-top: 148px;
			padding-bottom: 148px;
			background-color: #000000;
			background-image: url('../img/img-black-pattern.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@include adaptive(1439) {
				padding-top: 100px;
				padding-bottom: 100px;
			}
		}

		&-2 {
			background-image: url('../img/img-pattern-footer.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__wrapper {
		&-1 {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			.footer__wrapper {
				&-right {
					opacity: 0;
				}
			}
		}

		&-2 {
			padding-top: 55px;
			padding-bottom: 55px;
			@include adaptive(1439) {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__copyright {
		padding-bottom: 15px;
		font-weight: 300;
		font-size: 14px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #000;
		text-transform: uppercase;
	}

	&__made {
		padding-bottom: 15px;
		font-weight: 300;
		font-size: 14px;
		letter-spacing: 0.2em;
		text-align: center;
		color: #000;
		text-transform: uppercase;

		strong {
			font-weight: 900;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;

		a,
		span {
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 0.2em;
			text-align: center;
			color: #000;
		}

		span {
			display: block;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&__title {
		padding-bottom: 40px;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.02em;
		text-align: left;
		color: #fff;
	}

	&__address {
		display: flex;
		flex-direction: column;
		padding-bottom: 110px;
		@include adaptive(1439) {
			padding-bottom: 75px;
		}

		p,
		a {
			font-weight: normal;
			font-size: 16px;
			letter-spacing: 0.02em;
			text-align: left;
			color: #fff;
		}

		a {
			padding-top: 15px;
		}
	}

	&__social {
		display: flex;
		align-items: center;

		a {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-right: 30px;
			}

			.icon-font {
				color: #ffffff;
				font-size: 25px;
			}
		}
	}
}

// FOOTER :: END
