// HEADER :: START

.header {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 5px 15px 0 rgba(#000, 0);
	background-color: transparent;
	@include transition(box-shadow, background-color);

	&.is-fixed {
		box-shadow: 0 5px 15px 0 rgba(#000, 0.15);
		background-color: rgba(#000000, 0.975);
		@include transition(box-shadow, background-color);

		.header {
			&__wrapper {
				height: 100px;
				@include transition(height);
			}
		}

		.logo.logo--header {
			opacity: 1;
			@include transition(opacity);
		}
	}

	&.header--logo {
		.logo.logo--header {
			opacity: 1;
			@include transition(opacity);
		}
	}

	.is-hideScroll & {
		background-color: transparent;
		@include transition(background-color);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 150px;
		@include transition(height);
		@include adaptive(1023) {
			height: 125px;
		}

		&-left,
		&-right {
			width: 100%;
			max-width: 300px;
		}

		&-middle {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			height: 100%;
			min-height: 100%;
			padding-top: 25px;
			padding-bottom: 25px;
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	&__address {
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.02em;
		color: #fff;
		@include transition(opacity, visibility, transform);
		@include adaptive(1023) {
			font-size: 14px;
		}

		.is-hideScroll & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			@include transition(opacity, visibility, transform);
		}
	}

	&__request {
		display: flex;
		margin-right: 40px;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.02em;
		color: #fff;
		@include transition(opacity, visibility, transform);
		@include transition(color);
		@include adaptive(1023) {
			font-size: 14px;
		}

		.is-hideScroll & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			@include transition(opacity, visibility, transform);
		}

		&:hover {
			color: #c39d48;
			@include transition(color);
		}
	}

	.logo.logo--header {
		opacity: 0;
		@include transition(opacity, visibility, transform);

		.is-hideScroll & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			@include transition(opacity, visibility, transform);
		}
	}
}

// HEADER :: END
