// SECTION :: START

.facelift {
	position: relative;

	&.facelift--breast-procedures {
		.facelift {
			&__bg {
				&:after {
					content: '';
					z-index: 0;
					opacity: 0.7;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
				}

				&-logo {
					z-index: 3;
					right: auto;
					left: 0;
					transform: translate(-50%, -50%);
				}

				> div {
					&:nth-of-type(1) {
						order: 2;

						&:after {
							left: auto;
							right: 0;
						}
					}

					&:nth-of-type(2) {
						order: 1;
					}
				}
			}

			&__wrapper {
				&-left {
					order: 2;
					padding-left: 134px;
				}
				&-right {
					order: 1;
				}
			}

			&__title {
				span {
					display: block;
					font-size: 60px;
					line-height: 60px;
				}
			}
		}
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;

		&-img {
			@extend %imageResCoverAbs;
		}

		&-logo {
			z-index: 2;
			position: absolute;
			top: 40%;
			right: 0;
			transform: translate(50%, -50%);
			width: 106px;
			height: auto;
		}

		> div {
			width: 50%;
			height: 100%;
			
			&:nth-of-type(1) {
				position: relative;

				&:after {
					content: '';
					z-index: 1;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: calc(100% - 180px);
					background-image: url('../img/img-black-pattern.jpg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		padding-top: 184px;
		padding-bottom: 445px;

		&-left,
		&-right {
			width: 50%;
		}
	}

	&__label {
		color: #ffffff;
		text-align: left;
	}

	&__title {
		padding-bottom: 40px;
		font-size: 90px;
		line-height: 90px;
	}

	&__desc {
		width: 100%;
		max-width: 555px;
		padding-bottom: 65px;
		color: #ffffff;
	}

	&__link {
		display: flex;
		flex-direction: column;

		&:not(:last-of-type) {
			margin-right: 90px;
		}

		&-wrapper {
			display: flex;
			align-items: center;
		}

		a {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 0.02em;
			line-height: 38px;
			color: #fff;
		}

		hr {
			width: 99px;
			height: 2px;
			margin: 0;
			padding: 0;
			border: none;
			background-color: #bd9e56;
		}
	}

	&__nav {
		z-index: 10;
		position: absolute;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 180px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 60px;
			margin-right: 60px;
			font-size: 30px;
			line-height: 30px;
		}
	}
}

// SECTION :: END
