// SECTION :: START

.lift {
	padding-top: 150px;
	padding-bottom: 125px;
	
	&__box {
		display: flex;
		flex-direction: column;
		padding: 50px 45px;
		background-image: url('../img/img-black-pattern.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&-wrapper {
			position: relative;
			left: -16px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 16px);

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-left: 16px;
				padding-bottom: 16px;
			}
		}

		&-title {
			padding-bottom: 30px;
			font-size: 30px;
			line-height: 30px;
		}

		&-link {
			display: flex;
			flex-direction: column;

			p {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				font-weight: 900;
				font-size: 18px;
				letter-spacing: 0.02em;
				line-height: 38px;
				color: #fff;
			}

			hr {
				width: 99px;
				height: 2px;
				margin: 0;
				padding: 0;
				border: none;
				background-color: #bd9e56;
			}
		}
	}
}

// SECTION :: END
