// SECTION :: START

.lift {
	padding-top: 150px;
	padding-bottom: 250px;
	@include adaptive(1799) {
		padding-top: 100px;
		padding-bottom: 150px;
	}
	@include adaptive(1023) {
		padding-bottom: 100px;
	}
	@include adaptive(767) {
		padding-top: 70px;
		padding-bottom: 54px;
	}
	
	&__box {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding: 50px 45px;
		background-image: url('../img/img-black-pattern.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include adaptive(1279) {
			padding: 30px 15px;
		}

		&:hover {
			.lift__box-link {
				p {
					color: #c39d48;
					@include transition(color);
				}

				hr {
					width: 150px;
					@include transition(width);
				}
			}
		}

		&-wrapper {
			position: relative;
			left: -16px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 16px);

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-left: 16px;
				padding-bottom: 16px;
				@include adaptive(1023) {
					max-width: calc(100% / 2);
				}
				@include adaptive(767) {
					max-width: 100%;
				}
			}
		}

		&-title {
			padding-bottom: 30px;
			//font-size: 30px;
			//line-height: 40px;
			@include fluid(font-size, 320px, 1800px, 20px, 30px);
			@include fluid(line-height, 320px, 1800px, 32px, 40px);
		}

		&-link {
			display: flex;
			flex-direction: column;

			p {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				font-weight: 900;
				font-size: 18px;
				letter-spacing: 0.02em;
				line-height: 38px;
				color: #fff;
				@include transition(color);
			}

			hr {
				width: 99px;
				height: 2px;
				margin: 0;
				padding: 0;
				border: none;
				background-color: #bd9e56;
				@include transition(width);
			}
		}
	}
}

// SECTION :: END
