// SECTION :: START

.our {
	position: relative;
	padding-top: 150px;
	padding-bottom: 75px;
	@include adaptive(1535) {
		padding-bottom: 0;
	}
	@include adaptive(1279) {
		padding-top: 100px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		width: 50%;
		height: 100%;
		padding-top: 150px;
		@include adaptive(1023) {
			position: relative;
			width: 100%;
			height: auto;
			padding: 0 15px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			border: 5px solid #fff;
			filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		@include adaptive(1023) {
		  flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 50%;
			@include adaptive(1023) {
				width: 100%;
			}
		}

		&-left {
			padding-right: 30px;
		}
	}

	&__label {
		text-align: left;
	}

	&__title {
		padding-bottom: 60px;
		//font-size: 60px;
		//line-height: 72px;
		@include fluid(font-size, 320px, 1800px, 35px, 60px);
		@include fluid(line-height, 320px, 1800px, 45px, 70px);
	}

	&__desc {
		width: 100%;
		max-width: 687px;

		&:last-of-type {
			padding-bottom: 100px;
			@include adaptive(1439) {
				padding-bottom: 50px;
			}
			@include adaptive(1279) {
				padding-bottom: 30px;
			}
		}

		& + .our__desc {
			padding-top: 50px;
			@include adaptive(1279) {
				padding-top: 30px;
			}
		}
	}

	&__box {
		display: flex;
		align-items: flex-start;

		&-wrapper {
			display: flex;
			align-items: center;

			> div {
				padding-right: 28px;
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			border: 5px solid #fff;
			filter: drop-shadow(15px 15px 45px rgba(0, 0, 0, 0.1));
		}
	}
}

// SECTION :: END
