// SECTION :: START

.practice {
	padding-top: 130px;
	padding-bottom: 165px;
	background-image: url('../img/img-pattern-practice.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1279) {
		padding-top: 100px;
		padding-bottom: 130px;
	}
	@include adaptive(767) {
		padding-top: 70px;
		padding-bottom: 55px;
	}

	&__title {
		padding-bottom: 60px;
		text-align: center;
		//font-size: 60px;
		@include fluid(font-size, 320px, 1800px, 35px, 60px);
		@include fluid(line-height, 320px, 1800px, 45px, 70px);
		@include adaptive(1279) {
			padding-bottom: 30px;
		}
		@include adaptive(767) {
			padding-bottom: 35px;
		}
	}

	&__desc {
		padding-bottom: 70px;
		width: 100%;
		max-width: 724px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@include adaptive(767) {
			padding-bottom: 55px;
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		@include adaptive(1279) {
			font-size: 26px;
			line-height: normal;
		}
		@include adaptive(1023) {
			font-size: 22px;
		}
		@include adaptive(767) {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		&:hover {
			&:after {
				width: 120px;
				@include transition(width);
			}
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -10px;
			width: 0;
			height: 2px;
			background-color: #bd9e56;
			@include transition(width);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			@include adaptive(767) {
				flex-direction: column;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				@include adaptive(767) {
					max-width: 100%;
				}
			}
		}
	}
}

// SECTION :: END
