// SECTION :: START

.schedule {
	position: relative;
	padding-top: 216px;
	padding-bottom: 216px;
	background-image: url('../img/img-schedule-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1439) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
	@include adaptive(1279) {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	@include adaptive(1023) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include adaptive(767) {
		padding-top: 140px;
		padding-bottom: 140px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.7);
	}

	&__title {
		z-index: 2;
		position: relative;
		text-align: center;
		//font-size: 70px;
		@include fluid(font-size, 320px, 1800px, 35px, 70px);
	}
}

// SECTION :: END
