// SECTION :: START

.video {
	z-index: 2;
	position: relative;
	padding-top: 125px;
	padding-bottom: 75px;
	@include adaptive(1535) {
		padding-top: 75px;
	}
	@include adaptive(1365) {
		padding-top: 30px;
	}
	@include adaptive(1279) {
		padding-bottom: 50px;
	}

	&__label {
		text-align: left;
	}

	&__title {
		padding-bottom: 40px;
		//font-size: 90px;
		//line-height: 90px;
		@include fluid(font-size, 320px, 1800px, 45px, 90px);
		@include fluid(line-height, 320px, 1800px, 45px, 90px);
	}

	&__link {
		display: flex;
		flex-direction: column;

		&:hover {
			a {
				color: #c39d48;
				@include transition(color);
			}

			hr {
				width: 150px;
				@include transition(width);
			}
		}

		a {
			display: flex;
			padding-bottom: 20px;
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 0.02em;
			color: #000;
			@include transition(color);
		}

		hr {
			width: 99px;
			height: 2px;
			padding: 0;
			margin: 0;
			background-color: #bd9e56;
			@include transition(width);
		}
	}

	&__box {
		display: flex;
		align-items: flex-start;

		&-wrapper {
			position: relative;
			left: -16px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 16px);

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-left: 16px;
				padding-bottom: 16px;
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}
}

// SECTION :: END
