// SECTION :: START

section#bodys.bodys

  .bodys__bg
    div
      img(src="img/img-bodys.jpg" alt="")

  .c-grid
    .bodys__wrapper
      .bodys__wrapper-left

        p.bodys__label.c-label.wow.animate__animated.animate__fadeInUp BODY PROCEDURES
        h2.bodys__title.c-title.wow.animate__animated.animate__fadeInUp!= "COMPASSIONATE CARE. <br>BEAUTIFUL RESULTS."
        p.bodys__desc.c-desc.wow.animate__animated.animate__fadeInUp The Atelier Plastic Surgery are at the forefront of the body contouring revolution. As experts and educators, they are often the ones teaching other plastic surgeons how to correctly perform procedures that deliver exceptional body contouring results.
        
        img.bodys__logo(src="img/logo-blockquote.svg" alt="")

      .bodys__wrapper-right

// SECTION :: END
