// SECTION :: START

section#breast.breast

  .breast__bg
    div
      img(src="img/img-breast.jpg" alt="")

  .c-grid
    .breast__wrapper
      .breast__wrapper-left

        p.breast__label.c-label BREAST PROCEDURES
        h2.breast__title.c-title!= "We reveal the <br>beauty that is you."
        p.breast__desc.c-desc Dr. Jaiswal’s advanced surgical techniques and eye for aesthetic balance will enhance the beauty of your natural features. He focuses on breast surgery to increase your confidence and create a stunning first impression. A woman’s breasts are a factor in physical attraction.
        
        img.breast__logo(src="img/logo-blockquote.svg" alt="")

      .breast__wrapper-right

// SECTION :: END
