// SECTION :: START

section#consultation.consultation
  .c-grid
    .consultation__wrapper

      p.consultation__title.c-title.wow.animate__animated.animate__fadeInUp Schedule Your Consultation
      p.consultation__desc.c-desc.wow.animate__animated.animate__fadeInUp Our Las Vegas facelift patients find that this is one of the most rewarding experiences, as the procedure instantly takes years off their faces. If you’d like to book a consultation or learn more, please contact us today. Our dedicated team of experts is looking forward to speaking with you and joining you on your journey of helping discover the best version of yourself.

      .consultation__link-wrapper
        .consultation__link.wow.animate__animated.animate__fadeInUp
          a(href="#") SCHEDULE NOW
          hr

// SECTION :: END
