// SECTION :: START

section#faq.faq
  .c-grid
    .faq__wrapper

      p.faq__title.c-title Frequently Asked Questions

      .faq__collapse-wrapper
        div
          .faq__collapse-box
            .faq__collapse-head
              div
                p Are their scars after a facelift?
                span
              div
            .faq__collapse-body
              p.c-desc Yes. The scars are typically hidden within the hairline and the natural creases around the ear to make them as inconspicuous as possible. The scars typically heal quite well.
        div
          .faq__collapse-box
            .faq__collapse-head
              p Is there a non-surgical option?
              span
            .faq__collapse-body
              p.c-desc Yes. The scars are typically hidden within the hairline and the natural creases around the ear to make them as inconspicuous as possible. The scars typically heal quite well.
        div
          .faq__collapse-box
            .faq__collapse-head
              p What’s the best age for a facelift?
              span
            .faq__collapse-body
              p.c-desc Yes. The scars are typically hidden within the hairline and the natural creases around the ear to make them as inconspicuous as possible. The scars typically heal quite well.
        div
          .faq__collapse-box
            .faq__collapse-head
              p How long will the results last?
              span
            .faq__collapse-body
              p.c-desc Yes. The scars are typically hidden within the hairline and the natural creases around the ear to make them as inconspicuous as possible. The scars typically heal quite well.
        div
          .faq__collapse-box
            .faq__collapse-head
              p What are the associated risks with a facelift?
              span
            .faq__collapse-body
              p.c-desc Yes. The scars are typically hidden within the hairline and the natural creases around the ear to make them as inconspicuous as possible. The scars typically heal quite well.

// SECTION :: END
