// SECTION :: START

section#natural.natural
  .c-grid
    .natural__wrapper
      .natural__wrapper-left

        .natural__media.wow.animate__animated.animate__fadeInUp
          img(src="img/img-natural-1.jpg" alt="")

      .natural__wrapper-middle

        .natural__content
          .natural__logo.wow.animate__animated.animate__fadeInUp
            img(src="img/logo-blockquote.svg" alt="")

          p.natural__label.c-label.wow.animate__animated.animate__fadeInUp FACE PROCEDURES
          h2.natural__title.c-title.wow.animate__animated.animate__fadeInUp Natural Looking Results + Elevated Beauty
          p.natural__desc.c-desc.wow.animate__animated.animate__fadeInUp Pioneering the most scientifically advanced regenerative treatments, founded in a curated experience with holistic influences. We create powerful treatments for natural aesthetic refinement, rejuvenation, and replenishment.
        
      .natural__wrapper-right

        .natural__media.wow.animate__animated.animate__fadeInUp
          img(src="img/img-natural-2.jpg" alt="")

// SECTION :: END
