// SECTION :: START

section#natural.natural
  .c-grid
    .natural__wrapper
      .natural__wrapper-left

        .natural__media
          img(src="img/img-natural-1.jpg" alt="")

      .natural__wrapper-middle

        .natural__content
          .natural__logo.wow.animate__animated.animate__fadeInUp
            img(src="img/logo-blockquote.svg" alt="")

          p.natural__label.c-label.wow.animate__animated.animate__fadeInUp AT OUR
          h2.natural__title.c-title.wow.animate__animated.animate__fadeInUp ATELIER PLASTIC SURGERY
          p.natural__desc.c-desc.wow.animate__animated.animate__fadeInUp in beautiful Las Vegas, facelift is one of Dr. Rohit Jaiswal’s specialties and one of the more popular procedures he performs. The surgery is most common for men and women who have noticed sagging or a loss of volume in their faces. Below, we’ve included information on the surgery, frequently asked questions, and information on Dr. Jaiswal.
          p.natural__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Jaiswal strives to deliver the best facelift Las Vegas localities can look forward to. Your surgery will be performed by Dr. Jaiswal in our state-of-the-art facility. We look forward to joining you on your road to discovering the best version of yourself.

      .natural__wrapper-right

        .natural__media
          img(src="img/img-natural-2.jpg" alt="")

// SECTION :: END
