// SECTION :: START

section#ques.ques
  .c-grid
    .ques__wrapper
      .ques__wrapper-left

        p.ques__title.c-title Who are the Best Candidates for a Facelift?
        p.ques__desc.c-desc There are many candidates for this revolutionary surgery. Below, we’ve included some of the patients we see on a day-to-day basis.

        ul.ques__list
          li
            p Patients who have undergone expected aging of the face are typically great candidates
          li
            p Patients with jowls
          li
            p Patients with loss of volume in the cheek
          li
            p Patients with looseness of face and neck skin
          li
            p Patients should be in good physical health and not smoke cigarettes
          li
            p We request that our patients be psychologically stable and have realistic expectations of what the procedure can and cannot do

      .ques__wrapper-right

        p.ques__title.c-title What are the Benefits of a Facelift?
        p.ques__desc.c-desc There are so many great advantages to this surgery. Below, we’ve included several of the benefits that we see firsthand with our facial aesthetic patients.

        ul.ques__list
          li
            p The surgery restores a more youthful overall appearance to the face
          li
            p The procedure reduces jowls
          li
            p The operation creates a sharper jawline for our patients
          li
            p With this procedure, we can increase the volume of the cheeks
          li
            p Dr. Jaiswal is able to eliminate or lessen some wrinkles in the face
          li
            p We can improve the contour of the neck
          li
            p This surgical treatment can take years off your face and provide more self-confidence!

// SECTION :: END
