// SECTION :: START

section#step.step
  .c-grid
    .step__wrapper.step__wrapper-1
      .step__wrapper-left

        img(src="img/img-natural-1.jpg" alt="")

      .step__wrapper-middle

        p.step__title.c-title What’s the First Step?
        p.step__desc.c-desc The first step is to schedule a consultation. During the consult, Dr. Jaiswal will assess your facial tissues and discuss your goals. Then he will make a recommendation of a treatment plan.
        p.step__desc.c-desc If you’re happy with Dr. Jaiswal’s recommendations surgery will be booked and we’ll provide pre and postoperative instructions. Please make sure to follow these instructions as closely as possible, as it will lead to optimal facelift results and reduce the chances of risk and complications.
        p.step__desc.c-desc Tip: Be honest! During your consultation be upfront with Dr. Jaiswal about your surgical goals. It’s important for him to understand your expectations so he can let you know what is and what is not possible.

      .step__wrapper-right

        img(src="img/img-natural-2.jpg" alt="")

    .step__wrapper.step__wrapper-2
      .step__wrapper-left

        .faq__collapse-wrapper
          div
            .faq__collapse-box
              .faq__collapse-head
                div
                  p What to Expect on the Day of Facelift Surgery?
                  span
                div
              .faq__collapse-body
                p.c-desc Dr. Jaiswal will see you in the pre-operative area and make some markings. The surgery can then be done under local or general anesthesia. Surgery time can take anywhere from 1.5-3.5 hours or longer depending on the type of facelift. After the procedure, your head and face will be wrapped and you will be sent home for recovery.
          div
            .faq__collapse-box
              .faq__collapse-head
                p Facelift Recovery
                span
              .faq__collapse-body
                p.c-desc Dr. Jaiswal will see you in the pre-operative area and make some markings. The surgery can then be done under local or general anesthesia. Surgery time can take anywhere from 1.5-3.5 hours or longer depending on the type of facelift. After the procedure, your head and face will be wrapped and you will be sent home for recovery.

      .step__wrapper-right

        .faq__collapse-wrapper
          div
            .faq__collapse-box
              .faq__collapse-head
                div
                  p How Much Does a Facelift Cost in Las Vegas?
                  span
                div
              .faq__collapse-body
                p.c-desc Dr. Jaiswal will see you in the pre-operative area and make some markings. The surgery can then be done under local or general anesthesia. Surgery time can take anywhere from 1.5-3.5 hours or longer depending on the type of facelift. After the procedure, your head and face will be wrapped and you will be sent home for recovery.
          div
            .faq__collapse-box
              .faq__collapse-head
                p Why Choose Dr. Jaiswal?
                span
              .faq__collapse-body
                p.c-desc Dr. Jaiswal will see you in the pre-operative area and make some markings. The surgery can then be done under local or general anesthesia. Surgery time can take anywhere from 1.5-3.5 hours or longer depending on the type of facelift. After the procedure, your head and face will be wrapped and you will be sent home for recovery.

// SECTION :: END
