// SECTION :: START

section#type.type
  .c-grid

    p.type__title.c-title What Type of Facelift Does Dr. Jaiswal Perform?
    p.type__desc.c-desc Dr. Jaiswal has performed many types of facelifts including deep plane, high SMAS, and MACS. The differences are discussed during the consultation and the treatment recommendations are tailored to the individual patient.

    .type__wrapper
      .type__wrapper-left

        .type__box-wrapper
          div
            .type__box
              p.type__box-title.c-title Traditional
              p.type__box-desc.c-desc The deeper layer of tissue covering the muscle is released at various points and lifted. This is typically the most comprehensive facelift and restores cheek volume, jawline definition, neck contour, and reduces or eliminates jowling.
          div
            .type__box
              p.type__box-title.c-title Mini facelift
              p.type__box-desc.c-desc A less invasive facelift method that typically acts only on improving the lower 1/3 of the face. It is used in patients who do not have advanced aging and are seeking an improvement of the jawline and/or jowls.

      .type__wrapper-middle

        p.type__title.c-title Understanding the Different Types of Facelifts
        p.type__desc.c-desc When deciding if you want to move forward with the operation, it’s first best to understand the different types of the procedure. While a traditional facelift is more popular, depending on the age of the patient and their desired results sometimes other facelift procedures can accomplish this. Below, we’ve included the different types of facial rejuvenation procedures we offer to our Las Vegas facelift patients.

      .type__wrapper-right

        .type__box-wrapper
          div
            .type__box
              p.type__box-title.c-title Mid-facelift
              p.type__box-desc.c-desc The deeper layer of tissue covering the muscle is released at various points and lifted. This is typically the most comprehensive facelift and restores cheek volume, jawline definition, neck contour, and reduces or eliminates jowling.
          div
            .type__box
              p.type__box-title.c-title liquid facelift
              p.type__box-desc.c-desc For select patients, using fillers throughout the face may produce improvement in cheek volume, fewer wrinkles, and a stronger jawline or chin. This is typically reserved for patients with only mild signs of aging.

// SECTION :: END
