// SECTION :: START

section#what.what

  .what__bg
    div
      img(src="img/logo-blockquote.svg" alt="")
    div
      img(src='img/img-face-procedures-main-bg.jpg' alt='')

  .c-grid
    .what__wrapper
      .what__wrapper-left
        div
          p.what__label.c-label.wow.animate__animated.animate__fadeInUp WHAT IS A
          p.what__title.c-title.wow.animate__animated.animate__fadeInUp Facelift?
          p.what__desc.c-desc.wow.animate__animated.animate__fadeInUp The technical word for the operation is a rhytidectomy, however, most people refer to it as a facelift. The surgical procedure is created to rejuvenate the face. It involves lifting or tightening tissues in order to produce a smoother jawline, reduce jowls, increase the volume of the cheek, and/or improve the appearance of the neck.

      .what__wrapper-right

// SECTION :: END
