// SECTION :: START

.resources {
	padding-top: 165px;
	padding-bottom: 155px;
	@include adaptive(1365) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__wrapper {
		&-1 {
			padding-bottom: 120px;
			@include adaptive(1365) {
				padding-bottom: 100px;
			}
		}

		&-2 {}
	}

	&__title {
		padding-bottom: 60px;
		text-align: center;
		//font-size: 60px;
		@include fluid(font-size, 320px, 1800px, 35px, 60px);
		@include fluid(line-height, 320px, 1800px, 45px, 70px);
	}

	&__desc {
		width: 100%;
		max-width: 675px;
		padding-bottom: 120px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@include adaptive(1365) {
			padding-bottom: 75px;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding: 50px 40px;
		background-color: #000;
		background-image: url('../img/img-black-pattern.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&:hover {
			span {
				color: #c39d48;
				@include transition(color);
			}

			hr {
				width: 150px;
				@include transition(width);
			}
		}

		&-wrapper {
			position: relative;
			left: -16px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 16px);

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-left: 16px;
				padding-bottom: 16px;
				@include adaptive(1023) {
					max-width: calc((100% - 16px) / 2);
				}
			}
		}

		p {
			padding-bottom: 40px;
			//font-size: 30px;
			//line-height: 30px;
			@include fluid(font-size, 320px, 1800px, 20px, 30px);
			@include fluid(line-height, 320px, 1800px, 32px, 40px);
		}

		span {
			display: block;
			padding-bottom: 20px;
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 0.02em;
			line-height: 38px;
			text-align: left;
			color: #fff;
			text-transform: uppercase;
			@include transition(color);
		}

		hr {
			width: 99px;
			height: 2px;
			margin: 0;
			padding: 0;
			border: none;
			box-shadow: none;
			background-color: #c39d48;
			@include transition(width);
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		min-height: 230px;
		padding: 30px 30px 20px;
		background-color: #000000;
		background-image: url('../img/img-black-pattern.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include adaptive(1279) {
			min-height: unset;
			padding: 40px 20px;
		}

		&-wrapper {
			position: relative;
			left: -16px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 16px);

			> div {
				width: 100%;
				max-width: calc(100% / 4);
				padding-left: 16px;
				padding-bottom: 16px;
				@include adaptive(1023) {
					max-width: calc((100% - 16px) / 2);
				}
			}
		}

		.icon-font {
			height: 50px;
			margin-bottom: 35px;
			font-size: 50px;
			color: #c39d48;
			@include adaptive(1279) {
				font-size: 40px !important;
			}

			&.icon-realself {
				font-size: 38px;
			}
			&.icon-google {
				font-size: 48px;
			}
		}

		p {
			//font-size: 30px;
			//line-height: 30px;
			text-align: center;
			@include fluid(font-size, 320px, 1800px, 20px, 30px);
			@include fluid(line-height, 320px, 1800px, 32px, 40px);
		}
	}
}

// SECTION :: END
